@import "variables";
@import "../../core"; // import core so we just need one css file

/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
  font-family: $alertify-font-family;
}

.alertify {
  background: $alertify-background;
  border: $alertify-border-size $alertify-border-style $alertify-border-color; /* browsers that don't support rgba */
  border: $alertify-border-size $alertify-border-style rgba($alertify-border-color, .7);
  border-radius: $alertify-border-radius;
  box-shadow: 0 3px 3px rgba($alertify-shadow-color, .3); // @todo dimension override
  background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.alertify-text {
  border: $alertify-text-border-size $alertify-text-border-style $alertify-text-border-color;
  padding: $alertify-text-padding;
  border-radius: $alertify-text-border-radius;
}

.alertify-button {
  border-radius: $alertify-button-border-radius;
  color: $alertify-button-color;
  font-weight: $alertify-button-font-weight;
  padding: $alertify-button-padding;
  text-decoration: none;
  text-shadow: $alertify-button-text-shadow;
  box-shadow: $alertify-button-box-shadow;
  background-image: $alertify-button-background-image;
}

.alertify-button:hover,
.alertify-button:focus {
  outline: none;
  background-image: $alertify-button-hover-background-image;
}

.alertify-button:focus {
  box-shadow: $alertify-button-focus-box-shadow;
}

.alertify-button:active {
  position: relative;
  box-shadow: $alertify-button-active-box-shadow;
}

.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
  background-color: $alertify-button-cancel-background-color;
  border: 1px solid $alertify-button-cancel-border-color;
}

.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
  background-color: $alertify-button-ok-background-color;
  border: 1px solid $alertify-button-ok-border-color;
}

.alertify-log {
  background: $alertify-log-background-fallback;
  background: rgba($alertify-log-background, .9);
  padding: $alertify-log-padding;
  border-radius: $alertify-log-border-radius;
  color: $alertify-log-color;
  text-shadow: $alertify-log-text-shadow;
}

.alertify-log-error {
  background: $alertify-log-error-background;
  background: rgba($alertify-log-error-background, .9);
}

.alertify-log-success {
  background: $alertify-log-success-background;
  background: rgba($alertify-log-success-background, .9);
}
